h1{color:#C9DDDC;}
h2{color:#c6bebb;}
h5{	font-weight: bold; font-size: 1.3rem;}
.color-cabecera{background-color: #e1e1e1;}
.hover-item-menu{
	color:white; font-weight: 600;
}
.hover-item-menu:hover{
	color:orange; font-weight: 700;
}
.thead-label-sm {
	font-size: 0.850rem;
text-align: left;
font-weight: 800;
vertical-align: middle;
background-color: #efefef;
}

.tbody-label-sm {
	font-size: 0.750rem;
text-align: left;
vertical-align: middle;
}

.centrado-boton {
	margin: auto;
}
.fuente-contenido {
	font-family: Verdana, arial;
}
.fondo-modal {
	background-color: blue;
}
.margin-vertical{

	margin-bottom:5px; 
	margin-top:5px;
}
.margin-center{margin:auto;
}
.radio-center{display: table;

text-align: center;

margin: auto;

left: -9px;}
fecha-table{ justify-content: middle; col
}

.tabla-distribucion {
display: flex;
}